* {
	box-sizing: border-box;
	letter-spacing: 0.4px;
	font-family: 'Roboto', sans-serif;
  @media(max-width: 767px) {
    line-height: 1.4;
  }
}

body {
	height: 100%;
	margin: 0;
  background-color: RGBA(133, 148, 162, 0.8);
}

p {
	margin: 0;
}

a {
	color: inherit;
}
a:hover {
  cursor: pointer;
	opacity: 0.7;
}

h1 {
	margin: 0;
}

h2 {
	position: relative;
	margin: 6px 0 14px 0;
	color: #fff;
	font-weight: 300;
}

.highlight-heading {
	opacity: 0.8;
	box-shadow: inset 0 -10px limegreen;
}

h3 {
	margin: 4px 0 6px;
	color: #0C253D;
	font-size: 18px;
}

.txt {
	letter-spacing: 0.5px;
	color: #0C253D;
	font-weight: 300;
  line-height: 26px;

}

.txt--regular {
  font-weight: 400;
}
