.wrapper {
	height: 100%;
	min-height: 100vh;
}
.container {
	display: flex;
	width: 90%;
	max-width: 1000px;
  margin: 0 auto;
  padding-top: 40px;
  @media(max-width: 767px) {
    flex-direction: column;
    width: 100%;
    padding: 0px 30px 0 30px;
  }
  &:last-child {
    padding-bottom: 60px;
  }
}
