.skills {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  @media(max-width: 767px) {
    padding: 0;
  }
  &__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media(max-width: 767px) {
      flex-direction: column;
    }
  }
  &__title {
    width: 30%;
    @media(max-width: 767px) {
      width: 100%
    }
  }
  &__bar {
    margin: 2px 0 16px 10px;
    height: 8px;
    width: 100%;
    background-color: RGBA(255,255,255, 0.2);
    background-color: RGBA(133, 148, 162, 0.8);
    width: 70%;
    @media(max-width: 767px) {
      width: 100%;
      margin-left: 0;
    }
  }

  &__progress {
    height: 8px;
    background-color: RGB(133, 148, 162);
    background-color: RGB(255,255,255, 0.5);
  }

}
