---
layout: default
---

<div class="wrapper">
  {% include header.html %}
  <div class="container">
    {% include nav.html %}
  </div>
	<div class="container">
		<div class="about">
			<div class="about__section">
				<h2>
					<span class="highlight-heading">About</span>
        </h2>
        
        <p class="txt txt--dark">
          Experienced Apple technologies software engineer - iOS, iPadOS, watchOS, tvOS & macOS.
        </p>
        <p class="txt txt--dark">
          Active contributor at <a href="https://swiftweekly.github.io/" target="_blank"></a>Swift Weekly Brief</a> newsletter, <a href="https://github.com/apollographql/apollo-ios/" target="_blank">Apollo iOS SDK</a> (GraphQL Swift library), various open source <a href="https://github.com/RxSwiftCommunity" target="_blank">RxSwift libraries</a>, <a href="https://github.com/daltoniam/Starscream" target="_blank">Starscream</a> and more.
        </p>
        <p class="txt txt--dark">
          Executed as a co-founder at a global-scale company <a href="https://www.qminder.com/" target="_blank">Qminder</a> that serviced clients such as Uber, Lyft, At&T, Bolt, The Olympic Games and more.
        </p>
        <p class="txt txt--dark">
          Author of <a href="https://apps.apple.com/lv/app/dodies-lv/id1080800199" target="_blank">Dodies.lv</a>, <a href="https://apps.apple.com/lv/app/augi-draugi/id1475145259">Augi & Draugi</a>, <a href="https://apps.apple.com/lv/app/weather-latvia/id1350252673">Weather Latvia</a> iOS apps and <a href="https://apps.apple.com/us/app/qminder-queue-management/id533847552" target="_blank">Qminder tvOS & iPadOS</a> apps.
        </p>
        <p class="txt txt--dark">
          Loves open source, mobile apps, cats and cares about inclusivity.
        </p>
			</div>
			<div class="about__section">
				<h2>
					<span class="highlight-heading">Work experience</span>
				</h2>
				<div class="about__content-entry">
					<div class="about__work-header">
						<div class="about__work-position">
							<h3>Co-founder and Swift developer</h3>
							<a href="https://www.qminder.com/" target="_blank" class="about__work-company">Qminder, United Kingdom & Estonia</a>
						</div>
						<div class="about__work-date">
							Aug 2011 - April 2020
						</div>
					</div>
					<div class="about__work-description txt txt--dark">
						Building waiting list management for physical locations. iOS, tvOS in Swift. App Store optimization. Leading various projects, sales, onboarding and support.
					</div>
        </div>
        <div class="about__content-entry">
					<div class="about__work-header">
						<div class="about__work-position">
							<h3>iOS Teaching Instructor</h3>
							<a href="https://lambdaschool.com/" target="_blank" class="about__work-company">Lambda School, US</a>
						</div>
						<div class="about__work-date">
							Nov 2019 – March 2020
						</div>
					</div>
					<div class="about__work-description txt txt--dark">
						Delivered iOS course that produces job market ready graduates.
					</div>
				</div>
				<div class="about__content-entry">
					<div class="about__work-header">
						<div class="about__work-position">
							<h3>Senior Software Engineer</h3>
							<a href="https://www.tieto.lv/" target="_blank" class="about__work-company">Tieto, Latvia</a>
						</div>
						<div class="about__work-date">
							Oct 2007 – Sep 2012
						</div>
					</div>
					<div class="about__work-description txt txt--dark">
						Participated in one of the biggest life insurance projects in Latvia - developed and maintained the Rural Support Service information system.
					</div>
        </div>
			</div>
			<div class="about__section">
				<h2>
					<span class="highlight-heading">Projects</span>
				</h2>
        <div class="about__content-entry">
          <h3><a href="https://www.qminder.com/" target="_blank">Qminder iOS & tvOS apps</a></h3>
          <p class="txt txt--dark">
            Applications for iPhone, iPad and Apple TV for easy customer sign-in and service.
            <p class="txt txt--dark about__subproject">
              <span class="txt--regular"><a href="http://support.qminder.com/tv/what-is-qminder-tv/qminder-on-tv" target="_blank">Qminder TV</a></span> is native Apple TV app for the waiting list. It uses open sourced Qminder Swift API and latest Swift features such as codable and keypaths. App keeps active network connection using websockets and upates the UI using reactive approach and RxSwift.
            </p>
            <p class="txt txt--dark about__subproject">
              <span class="txt--regular"><a href="https://itunes.apple.com/us/app/queue-management-software/id533847552?mt=8" target="_blank">Qminder Sign-In</a></span> provides self-service sign-in for customers. It uses native and web. Native side interacts with the server using in-house built JavaScript bridge. Background animations are fully native and use GPU.
            </p>
            <p class="txt txt--dark about__subproject">
              <span class="txt--regular">
              <a href="https://itunes.apple.com/us/app/qminder-dashboard/id1060050461?mt=8" target="_blank">Dashboard app</a></span> is a hybrid app with options to communicate between native and web, push notifications, data export and fast actions. It helps managers be up to date with their location.
            </p>
        </div>
        <div class="about__content-entry">
          <h3><a href="https://itunes.apple.com/ee/app/dodies-lv/id1080800199?mt=8" target="_blank">Dodies.lv iOS app</a></h3>
          <p class="txt txt--dark">
            The idea behind Dodies.lv is to help plan one's outdoor activities in Latvia. In the map one can find Latvian nature trails, birdwatching towers, parks, campsites and picnic sites. Hiking trails in Latvia are usually shorter and marked, long distance trekking and hiking is not done on specific routes. Dodies.lv lists only marked hiking trails and paths, specifically targeted towards casual hikers.
          </p>
        </div>
        <div class="about__content-entry">
          <h3><a href="https://apps.apple.com/lv/app/augi-draugi/id1475145259" target="_blank">Augi & Draugi iOS app</a></h3>
          <p class="txt txt--dark">
            ugi & Draugi app gives the answer to the question: “Where should I eat today”? The map in the application serves as a guide for anyone interested in eating delicious plant-based dishes. Each location on the map serves multiple plant-based dishes, making sure everyone has a choice!
          </p>
        </div>
        <div class="about__content-entry">
          <h3><a href="https://itunes.apple.com/ee/app/weather-latvia/id1350252673?mt=8" target="_blank">Weather Latvia iOS app</a></h3>
          <p class="txt txt--dark">
            Meteo Latvia shows current weather observations in Latvia. Data comes from Latvian Environment, Geology and Meteorology Centre and Latvian State Roads.
          </p>
        </div>
        <div class="about__content-entry">
          <h3><a href="https://itunes.apple.com/ee/app/meteo-tartu/id1082204986?mt=8" target="_blank">MeteoTartu app for iOS, tvOS, watchOS</a></h3>
          <p class="txt txt--dark">
            Application to show data from the weather station that has been working since the Ocober of 1999 in Tartu, Estonia, at the roof of the Physics department on the University of Tartu.</p>
        </div>
      </div>
		</div>
		<div class="additional-info">
			<div class="additional-info__section">
          <img class="additional-info__avatar" src="img/kristaps.jpeg" alt="Photo of Kristaps">
				<div class="additional-info__content-entry">
					<h2>
						<span class="highlight-heading">Contacts</span>
					</h2>
          <div class="additional-info__contacts txt txt--dark">
            <a href="mailto:{{ site.email }}" class="additional-info__contact">
              <span class="additional-info__icon"><i class="far fa-envelope"></i></span>
              {{ site.email }}
            </a>
            <a href="tel:{{ site.phone }}" class="additional-info__contact">
              <span class="additional-info__icon"><i class="fas fa-phone"></i></span>
              {{ site.phone }}
            </a>
            <a href="https://www.linkedin.com/in/{{ site.linkedin }}/" class="additional-info__contact target="_blank"">
              <span class="additional-info__icon"><i class="fab fa-linkedin-in"></i></span>
              {{ site.linkedin }}
            </a>
            <a href="https://github.com/{{ site.github }}" class="additional-info__contact" target="_blank">
              <span class="additional-info__icon"><i class="fab fa-github"></i></span>
              {{ site.github }}
            </a>
            <a href="https://twitter.com/{{ site.twitter }}" class="additional-info__contact" target="_blank">
              <span class="additional-info__icon"><i class="fab fa-twitter"></i></span>
              @{{ site.twitter }}
            </a>
          </div>
				</div>
			</div>
      <div class="additional-info__section">
        <div class="additional-info__content-entry">
          <h2>
            <span class="highlight-heading">Education</span>
          </h2>
          <div class="additional-info__education-list txt txt--dark">
            <div class="additional-info__education-entry">
              <span class="additional-info__education-title">Phd in Computer Science (unfinished)</span>
              <a href="https://www.lu.lv/eng/" class="additional-info__education-school" target="_blank">University of Latvia</a>
              <span class="additional-info__education-year">2010 – 2012</span>
            </div>
            <div class="additional-info__education-entry">
              <span class=" additional-info__education-title">MSc in Computer Science</span>
              <a href="https://www.lu.lv/eng/" class=" additional-info__education-school" target="_blank">University of Latvia</a>
              <span class=" additional-info__education-year">2008 – 2010</span>
            </div>
            <div class="additional-info__education-entry">
              <span class=" additional-info__education-title">BSc in Computer Science</span>
              <a href="https://www.lu.lv/eng/" class=" additional-info__education-school" target="_blank">University of Latvia</a>
              <span class=" additional-info__education-year">2004 – 2008</span>
            </div>
          </div>
        </div>
      </div>
      <div class="additional-info__section">
        <div class="additional-info__content-entry">
          <div class="additional-info__education-list txt txt--dark">
            <div class="additional-info__education-entry">
              <a href="/assets/kristaps-grinbergs-cv.pdf" target="_blank">Download CV</a>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>

  <div class="container">
    <div class="skills">
      <h2>
        <span class="highlight-heading">Skills &amp; proficiency</span>
      </h2>
      <ul class="skills__section" id="skills__section">
        <li class="skills__title txt txt--dark">
          Swift, Objective-C, React Native
        </li>
        <li class="skills__title txt txt--dark">
          Xcode, Cocoapods, SPM, Carthage
        </li>
        <li class="skills__title txt txt--dark">
          iOS, iPadOS, tvOS, watchOS, macOS
        </li>
        <li class="skills__title txt txt--dark">
          Github CI/CD, Bitrise, Buildkite, Circle CI, Travis CI, fastlane
        </li>
        <li class="skills__title txt txt--dark">
          RxSwift, MVC, MVVM, Coordinators
        </li>
        <li class="skills__title txt txt--dark">
          Javascript, Angular, ReactJS
        </li>
        <li class="skills__title txt txt--dark">
          HTML, CSS
        </li>
        <li class="skills__title txt txt--dark">
          PostgreSQL, Oracle, MongoDB, SQlite
        </li>
        <li class="skills__title txt txt--dark">
          Java, Ruby, Python, PHP
        </li>
        <li class="skills__title txt txt--dark">
          Sketch, Photoshop
        </li>
      </ul>
    </div>
  </div>
</div>
