* {
  box-sizing: border-box;
  letter-spacing: 0.4px;
  font-family: 'Roboto', sans-serif; }
  @media (max-width: 767px) {
    * {
      line-height: 1.4; } }

body {
  height: 100%;
  margin: 0;
  background-color: RGBA(133, 148, 162, 0.8); }

p {
  margin: 0; }

a {
  color: inherit; }

a:hover {
  cursor: pointer;
  opacity: 0.7; }

h1 {
  margin: 0; }

h2 {
  position: relative;
  margin: 6px 0 14px 0;
  color: #fff;
  font-weight: 300; }

.highlight-heading {
  opacity: 0.8;
  box-shadow: inset 0 -10px limegreen; }

h3 {
  margin: 4px 0 6px;
  color: #0C253D;
  font-size: 18px; }

.txt {
  letter-spacing: 0.5px;
  color: #0C253D;
  font-weight: 300;
  line-height: 24px; }

.txt--regular {
  font-weight: 400; }

.header__heading-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 50px 16px 20px;
  text-align: center; }

.header__heading--lg {
  color: #0C253D;
  font-size: 40px;
  font-weight: 400; }

.header__heading--md {
  padding-top: 12px;
  color: #fff;
  font-size: 22px;
  font-weight: 300; }

.wrapper {
  height: 100%;
  min-height: 100vh; }

.container {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 40px; }
  @media (max-width: 767px) {
    .container {
      flex-direction: column;
      width: 100%;
      padding: 0px 30px 0 30px; } }
  .container:last-child {
    padding-bottom: 60px; }

.about {
  width: 68%;
  padding: 10px 40px 10px 10px;
  border-right: solid 1px #c4ccd3; }
  @media (max-width: 767px) {
    .about {
      width: 100%;
      padding: 0;
      border: 0; } }
  .about__section {
    margin: 20px 0; }
  .about__content-entry {
    margin-bottom: 22px; }
  .about__work-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 12px; }
    @media (max-width: 767px) {
      .about__work-header {
        flex-direction: column; } }
  .about__work-position {
    display: flex;
    flex-direction: column;
    padding-right: 8px; }
  .about__work-company {
    text-decoration: none;
    color: #484848;
    font-size: 14px; }
    @media (max-width: 767px) {
      .about__work-company {
        padding: 10px 0;
        text-decoration: underline;
        font-size: 16px; } }
  .about__work-date {
    margin-top: 4px;
    font-size: 14px; }
    @media (max-width: 767px) {
      .about__work-date {
        font-size: 16px; } }
  .about__subproject {
    padding-top: 10px; }

.additional-info {
  width: 32%;
  padding: 10px 10px 10px 40px; }
  @media (max-width: 767px) {
    .additional-info {
      width: 100%;
      padding: 0;
      border: 0; } }
  .additional-info__section {
    margin: 20px 0; }
  @media (max-width: 767px) {
    .additional-info__section:first-child {
      margin-top: 0; } }
  .additional-info__content-entry {
    margin-bottom: 22px; }
  .additional-info__contact {
    display: block;
    padding: 4px 0;
    text-decoration: none; }
    @media (max-width: 767px) {
      .additional-info__contact {
        padding: 10px 0; } }
  .additional-info__avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%; }
    @media (max-width: 767px) {
      .additional-info__avatar {
        display: none; } }
  .additional-info i {
    margin-right: 4px;
    color: #fff; }
  .additional-info__education-entry {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px; }
    .additional-info__education-entry:last-child {
      padding-bottom: 0; }
  .additional-info__education-title {
    font-weight: bold; }
  .additional-info__education-school {
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    color: #484848;
    font-size: 14px; }
    @media (max-width: 767px) {
      .additional-info__education-school {
        padding: 10px 0;
        text-decoration: underline;
        font-size: 16px; } }

.skills {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px; }
  @media (max-width: 767px) {
    .skills {
      padding: 0; } }
  .skills__item {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    @media (max-width: 767px) {
      .skills__item {
        flex-direction: column; } }
  .skills__title {
    width: 30%; }
    @media (max-width: 767px) {
      .skills__title {
        width: 100%; } }
  .skills__bar {
    width: 100%;
    width: 70%;
    height: 8px;
    margin: 2px 0 16px 10px;
    background-color: RGBA(255, 255, 255, 0.2);
    background-color: RGBA(133, 148, 162, 0.8); }
    @media (max-width: 767px) {
      .skills__bar {
        width: 100%;
        margin-left: 0; } }
  .skills__progress {
    height: 8px;
    background-color: RGB(133, 148, 162);
    background-color: RGB(255, 255, 255, 0.5); }

.gallery {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto; }
  @media (max-width: 767px) {
    .gallery {
      flex-direction: column; } }
  .gallery__item {
    flex-grow: 1;
    height: 180px;
    margin: 10px;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -webkit-filter: grayscale(90%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(90%); }
    .gallery__item:hover {
      -webkit-transition: filter, box-shadow 0.2s;
      /* Safari */
      transition: filter, box-shadow 0.2s;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
      -webkit-filter: grayscale(0%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0%); }
