<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>Kristaps Grinbergs OS, tvOS, watchOS, macOS in Swift</title>
    {% endif %}
    {% if page.title %}
      <meta name="title" content="{{ page.title }}">
    {% else %}
      <meta name="title" content="{{ site.title }}">
    {% endif %}
		<meta name="author" content="Lota Plezere">
    {% if page.description %}
		  <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}
		<meta property="og:site_name" content="{{ site.title }}">
    {% if page.title %}
      <meta property="og:title" content="{{ page.title }}">
    {% else %}
      <meta property="og:title" content="{{ site.title }}">
    {% endif %}
    {% if page.description %}
		  <meta property="og:description" content="{{ page.description }}">
    {% else %}
      <meta property="og:description" content="{{ site.description }}">
    {% endif %}
		<meta property="og:image" content="/img/fb-og.png">
		<meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@fassko">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.description %}
		  <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    <meta name="twitter:image" content="{{ site.url }}/img/fb-og.png">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/styles.css">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/apple-touch-icon-120x120.png">
    <link rel="icon" type="/image/png" sizes="96x96" href="/img/favicon-96x96.png">
		{% feed_meta %}
	</head>
