.additional-info {
	width: 32%;
	padding: 10px 10px 10px 40px;
  @media(max-width: 767px) {
    width: 100%;
    padding: 0;
    border: 0;
  }
	&__section {
		margin: 20px 0;
	}
  &__section:first-child {
    @media(max-width: 767px) {
      margin-top: 0;
    }
  }
	&__content-entry {
		margin-bottom: 22px;
	}
  &__contact {
    display: block;
    padding: 4px 0;
    text-decoration: none;
    @media(max-width: 767px) {
      padding: 10px 0;
    }
  }
  &__avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
    @media(max-width: 767px) {
      display: none;
    }
  }
  & i {
    margin-right: 4px;
    color: #fff;
  }
  &__education-entry {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  &__education-title {
    font-weight: bold;
  }
  &__education-school {
    padding-top: 4px;
    padding-bottom: 4px;
		// color: red;
		font-size: 14px;
    @media(max-width: 767px) {
      padding: 10px 0;
      font-size: 16px;
    }
  }
}
