.bloglist {
  display: flex;
  flex-direction: column
}

.bloglist__item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 600px;
  padding-bottom: 16px;
  text-decoration: none;
}

.bloglist__title {
  padding-bottom: 15px;
  text-decoration: underline;
  font-size: 20px;
  text-decoration-line: 1px;
}

.bloglist__excerpt {
  padding-bottom: 2px;

  p {
    padding-bottom: 10px;
  }
}

.bloglist__date {
  font-size: 14px;
  padding-top: 10px;
}
