.gallery {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  @media(max-width: 767px) {
    flex-direction: column;
  }
  &__item {
    flex-grow: 1;
    height: 180px;
    margin: 10px;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
    filter: grayscale(90%);
    &:hover {
       -webkit-transition: filter, box-shadow 0.2s; /* Safari */
      transition: filter, box-shadow 0.2s;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
    }
  }
}
