.header {
  width: 90%;
  max-width: 1000px;
  margin: auto;
	&__heading-container {
		display: flex;
    align-items: center;
		flex-direction: column;
		margin: 0;
		padding: 50px 16px 20px;
		text-align: center;
    &--left {
      align-items: flex-start;
      padding-left: 0;
    }
	}
	&__heading--lg {
		color: #0C253D;
		font-size: 40px;
		font-weight: 400;
    a {
      text-decoration: none;
    }
	}
  &__heading--md {
    padding-top: 12px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
  }
}
