.nav {
  display: flex;
  &__item {
    padding: 6px 14px;
    text-decoration: none;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    @media(max-width: 767px) {
      //add media sizing here
    }
    &:first-child {
      padding-left: 0;
    }
      &:not(:last-child) {
      border-right: solid 1px white;
    }
    &--active {
      text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff;
    }
  }
}
