.talks-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media(max-width: 767px) {
    margin-top: 20px;
  }
}

.talks-list__row {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255,255,255, 0.3);
  @media(max-width: 767px) {
    flex-direction: column;
  }
}

.talks-list__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 6px;
}

.talks-list__date {
  width: 150px;
  @media(max-width: 767px) {
    width: 100%;
    padding-bottom: 8px;
  }
}

.talks-list__title {
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 120px) - 20%);
  @media(max-width: 767px) {
    width: 100%;
    padding-bottom: 12px;
  }
}

.talks-list__event-name {
  @media(max-width: 767px) {
    padding: 8px 0 12px 0;
  }
}

.talks-list__additional {
  width: 15%;
  align-items: flex-end;
  // display: flex;
  flex-direction: column;
  justify-content: center;
  @media(max-width: 767px) {
    width: 100%;
    padding-bottom: 6px;
    a {
      padding: 8px 4px;
      margin-bottom: 4px;
    }
  }
}