name: Deploy

on:
  push:
    branches: [ develop ]

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Deploy with Publish
      run: swift run

    - name: Copy RSS feed to old link
      run: cp Output/feed.rss Output/feed.xml

    - name: Deploy
      uses: crazy-max/ghaction-github-pages@v1
      with:
        target_branch: master
        build_dir: Output
        allow_empty_commit: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Clear cache
      run: |
        curl -X POST "https://api.cloudflare.com/client/v4/zones/$CF_ZONE/purge_cache" \
          -H "X-Auth-Email: $CF_API_EMAIL" \
          -H "X-Auth-Key: $CF_API_KEY" \
          -H "Content-Type: application/json" \
          --data '{"purge_everything":true}'
      env:
        CF_ZONE: ${{ secrets.CF_ZONE }}
        CF_API_EMAIL: ${{ secrets.CF_API_EMAIL }}
        CF_API_KEY: ${{ secrets.CF_API_KEY }}
